<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <title>قالب شخصی وی کارت - رزومه من</title>

	<!-- Meta Data -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="address=no"/>
	<meta name="author" content="AliNiyazi" />
	<meta name="description" content="vCard" />

	<!-- Twitter data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@AliNiyazi">
	<meta name="twitter:title" content="vCard">
	<meta name="twitter:description" content="vCard">
	<meta name="twitter:image" content="assets/images/social.html">

	<!-- Open Graph data -->
	<meta property="og:title" content="ArtTemplate" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="your url website" />
	<meta property="og:image" content="assets/images/social.html" />
	<meta property="og:description" content="vCard" />
	<meta property="og:site_name" content="vCard" />

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
	<link rel="shortcut icon" href="assets/images/favicons/favicon.png" type="image/png">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="assets/styles/vendors/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="assets/styles/style.css"/>
	<link rel="stylesheet" type="text/css" href="assets/styles/rtl.css"/>
	
</head>
<body class="bg-triangles">
    <main class="main">
	    <div class="container gutter-top gutter-bottom">
		    <div class="row sticky-parent">
			    <!-- Sidebar -->
                <aside class="col-12 col-md-12 col-xl-3">
				    <div class="sidebar box-outer sticky-column">
						<!-- My photo -->
						<div class="sidebar__base-info">
					    	<figure class="avatar-box">
                                <img src="assets/images/my-avatar.png" alt="علی نیازی">
						    </figure>

						    <div class="text-xl-center">
						        <h3 class="title title--h3 sidebar__name">علی نیازی</h3>
							    <div class="badge">مدیر خلاق</div>
						    </div>

							<button class="btn btn--small btn--icon-right sidebar__btn js-btn-toggle"><span>نمایش اطلاعات تماس</span><i class="feathericon-chevron-down"></i></button>
						</div>

						<div class="sidebar__additional-info js-show">
							<div class="separation"></div>
		                    <ul class="details-info">
							    <!-- Email -->
							    <li class="details-info__item">
							        <span class="box icon-box"><i class="font-icon icon-envelope"></i></span>
								    <div class="contacts-block__info">
									    <span class="overhead">ایمیل</span>
									    <a class="text-overflow" href="/cdn-cgi/l/email-protection#2f4a574e425f434a6f48424e4643014c4042" title="example@gmail.com"><span class="__cf_email__" data-cfemail="cca9b4ada1bca0a98caba1ada5a0e2afa3a1">[email&#160;protected]</span></a>
								    </div>
							    </li>
							    <!-- Phone -->
						 	    <li class="details-info__item">
								    <span class="box icon-box"><i class="font-icon icon-phone"></i></span>
								    <div class="contacts-block__info">
									    <span class="overhead">تلفن</span>
							            <span class="text-overflow" title="03831124">03831124</span>
								    </div>	
							    </li>
								<!-- Birthday -->
					            <li class="details-info__item">
								    <span class="box icon-box"><i class="font-icon icon-calendar"></i></span>
								    <div class="contacts-block__info">
									    <span class="overhead">تاریخ تولد</span>
							            <span class="text-overflow" title="9 خرداد 1400">9 خرداد 1400</span>
								    </div>
							    </li>
								<!-- Location -->
						        <li class="details-info__item">
								    <span class="box icon-box"><i class="font-icon icon-location"></i></span>
								    <div class="contacts-block__info">
									    <span class="overhead">موقعیت مکانی</span>
									    <span class="text-overflow" title="ایران ، تهران">ایران ، تهران</span>
								    </div>
							    </li>
					        </ul>
						    <div class="separation d-xl-none"></div>

						    <!-- Social -->
						    <div class="social">
							    <a class="social__link" href="https://www.facebook.com/"><i class="feathericon-facebook"></i></a>
							    <a class="social__link" href="https://www.behance.com/"><i class="feathericon-twitter"></i></a>
						  	    <a class="social__link" href="https://www.linkedin.com/"><i class="feathericon-instagram"></i></a>
						    </div>
						</div>	
					</div>	
		        </aside>
		        
				<!-- Content -->
		        <div class="col-12 col-md-12 col-xl-9">
				    <div class="box-outer">
					    <!-- Menu -->
						<div class="nav-container">
							<ul class="nav">
								<li class="nav__item"><a href="index.html">درباره من</a></li>
								<li class="nav__item"><a class="active" href="resume.html">رزومه من</a></li>
								<li class="nav__item"><a href="portfolio.html">نمونه کار ها</a></li>
								<li class="nav__item"><a href="blog.html">وبلاگ</a></li>
								<li class="nav__item"><a href="contact.html">تماس با من</a></li>
							</ul>
						</div>
						
					    <!-- About -->
						<div class="pb-3">
		                    <h1 class="title title--h1 title__separate">رزومه</h1>
					    </div>
						
						<!-- Experience -->
						<h2 class="title title--h2"><span class="box icon-box"><i class="font-icon feathericon-book-open"></i></span>تحصیلات</h2>
						<div class="timeline">
							<!-- Item -->
							<article class="timeline__item">
								<h5 class="title title--h5 timeline__title">مدرسه دانشگاه هنر</h5>
								<span class="timeline__period">1394-1398</span>
								<p class="timeline__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
							</article>

							<!-- Item -->
							<article class="timeline__item">
								<h5 class="title title--h5 timeline__title">آکادمی هنر نیویورک</h5>
								<span class="timeline__period">1392 — 1393</span>
								<p class="timeline__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
							</article>

							<!-- Item -->
							<article class="timeline__item">
								<h5 class="title title--h5 timeline__title">دبیرستان هنر و طراحی</h5>
								<span class="timeline__period">1390 — 1392</span>
								<p class="timeline__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
							</article>
						</div>

						<h2 class="title title--h2"><span class="box icon-box"><i class="font-icon feathericon-briefcase"></i></span>تجربیات</h2>
						<div class="timeline">
							<!-- Item -->
							<article class="timeline__item">
								<h5 class="title title--h5 timeline__title">مدیر خلاق</h5>
								<span class="timeline__period">1397 — اکنون</span>
								<p class="timeline__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
							</article>

							<!-- Item -->
							<article class="timeline__item">
								<h5 class="title title--h5 timeline__title">مدیر هنری</h5>
								<span class="timeline__period">1395 — 1397</span>
								<p class="timeline__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
							</article>

							<!-- Item -->
							<article class="timeline__item">
								<h5 class="title title--h5 timeline__title">طراح وب</h5>
								<span class="timeline__period">1390 — 1395</span>
								<p class="timeline__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
							</article>
						</div>
						
						<!-- Skills -->
						<h2 class="title title--h2 mt-3">مهارت های طراحی</h2>
						<div class="box box-inner mb-0">
							<!-- Web Design -->
							<div class="progress">
								<div class="progress-text"><span>طراحی وب</span> 80%</div>
                                <div class="progress-bar"><span role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></span></div>
                            </div>

							<!-- Web Design -->
							<div class="progress">
								<div class="progress-text"><span>طراحی گرافیک</span> 75%</div>
                                <div class="progress-bar"><span role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></span></div>
                            </div>

							<!-- Web Design -->
							<div class="progress">
								<div class="progress-text"><span>برندسازی</span> 90%</div>
                                <div class="progress-bar"><span role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></span></div>
                            </div>

							<!-- Web Design -->
							<div class="progress">
								<div class="progress-text"><span>وردپرس</span> 50%</div>
                                <div class="progress-bar"><span role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></span></div>
                            </div>
						</div>
					</div>
		        </div><!-- Content -->
			</div><!-- sticky-parent -->
		</div><!-- container -->
    </main>

    <div class="back-to-top"></div>	

	<!-- JavaScripts -->
	<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.4.1.min.js"></script>
	<script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/common.js"></script>

</body>
</html>