<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
	<title>قالب شخصی وی کارت - پروژه</title>

	<!-- Meta Data -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="address=no"/>
	<meta name="author" content="AliNiyazi" />
	<meta name="description" content="vCard" />

	<!-- Twitter data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@AliNiyazi">
	<meta name="twitter:title" content="vCard">
	<meta name="twitter:description" content="vCard">
	<meta name="twitter:image" content="assets/images/social.html">

	<!-- Open Graph data -->
	<meta property="og:title" content="ArtTemplate" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="your url website" />
	<meta property="og:image" content="assets/images/social.html" />
	<meta property="og:description" content="vCard" />
	<meta property="og:site_name" content="vCard" />

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
	<link rel="shortcut icon" href="assets/images/favicons/favicon.png" type="image/png">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="assets/styles/vendors/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="assets/styles/style.css"/>
	<link rel="stylesheet" type="text/css" href="assets/styles/rtl.css"/>
	
</head>
<body>
	<!-- Scroll Indicator -->
    <div class="scroll-line"></div>

    <main class="main">
	    <div class="container gutter-top gutter-bottom">
		    <div class="row sticky-parent">
			    <!-- Sidebar -->
                <aside class="col-12 col-md-12 col-xl-3">
				    <div class="sidebar box-outer sticky-column">
						<!-- My photo -->
						<div class="sidebar__base-info">
					    	<figure class="avatar-box">
                                <img src="assets/images/my-avatar.png" alt="علی نیازی">
						    </figure>

						    <div class="text-xl-center">
						        <h3 class="title title--h3 sidebar__name">علی نیازی</h3>
							    <div class="badge">مدیر خلاق</div>
						    </div>

							<button class="btn btn--small btn--icon-right sidebar__btn js-btn-toggle"><span>نمایش اطلاعات تماس</span><i class="feathericon-chevron-down"></i></button>
						</div>

						<div class="sidebar__additional-info js-show">
							<div class="separation"></div>
		                    <ul class="details-info">
							    <!-- Email -->
							    <li class="details-info__item">
							        <span class="box icon-box"><i class="font-icon icon-envelope"></i></span>
								    <div class="details-info__info">
									    <span class="overhead">ایمیل</span>
									    <a class="text-overflow" href="/cdn-cgi/l/email-protection#15706d7478657970557278747c793b767a78" title="example@gmail.com"><span class="__cf_email__" data-cfemail="781d00191508141d381f15191114561b1715">[email&#160;protected]</span></a>
								    </div>
							    </li>
							    <!-- Phone -->
						 	    <li class="details-info__item">
								    <span class="box icon-box"><i class="font-icon icon-phone"></i></span>
								    <div class="details-info__info">
									    <span class="overhead">تلفن</span>
							            <span class="text-overflow" title="03831124">03831124</span>
								    </div>	
							    </li>
								<!-- Birthday -->
					            <li class="details-info__item">
								    <span class="box icon-box"><i class="font-icon icon-calendar"></i></span>
								    <div class="details-info__info">
									    <span class="overhead">تاریخ تولد</span>
							            <span class="text-overflow" title="9 خرداد 1400">9 خرداد 1400</span>
								    </div>
							    </li>
								<!-- Location -->
						        <li class="details-info__item">
								    <span class="box icon-box"><i class="font-icon icon-location"></i></span>
								    <div class="details-info__info">
									    <span class="overhead">موقعیت مکانی</span>
									    <span class="text-overflow" title="ایران ، تهران">ایران ، تهران</span>
								    </div>
							    </li>
					        </ul>
						    <div class="separation d-xl-none"></div>

						    <!-- Social -->
						    <div class="social">
							    <a class="social__link" href="https://www.facebook.com/"><i class="feathericon-facebook"></i></a>
							    <a class="social__link" href="https://www.behance.com/"><i class="feathericon-twitter"></i></a>
						  	    <a class="social__link" href="https://www.linkedin.com/"><i class="feathericon-instagram"></i></a>
						    </div>
						</div>	
					</div>	
		        </aside>
		        
				<!-- Content -->
		        <div class="col-12 col-md-12 col-xl-9">
				    <div class="box-outer">
					    <!-- Menu -->
						<div class="nav-container">
							<ul class="nav">
								<li class="nav__item"><a href="index.html">درباره من</a></li>
								<li class="nav__item"><a href="resume.html">رزومه من</a></li>
								<li class="nav__item"><a class="active" href="portfolio.html">نمونه کار ها</a></li>
								<li class="nav__item"><a  href="blog.html">وبلاگ</a></li>
								<li class="nav__item"><a href="contact.html">تماس با من</a></li>
							</ul>
						</div>
						
					    <!-- About -->
						<div class="pb-3">
		                    <h1 class="title title--h1 title__separate">نمونه کار</h1>
					    </div>

						<!-- Project details -->
						<a class="btn-back" href="portfolio.html"><i class="feathericon-arrow-right"></i>بازگشت به نمونه کار ها</a>

						<header class="header-project">
                            <h1 class="title title--h1">طراحی مونوبورد – داشبورد ادمین <br>طراحی UI</h1>
							<div class="header-project__image-wrap">
							    <img class="cover lazyload" src="assets/images/projects/project-1.jpg" alt="" />
							</div>
						</header>

						<ul class="details-info details-info--inline">
							<!-- Client -->
							<li class="details-info__item">
								<span class="box icon-box"><i class="font-icon feathericon-user"></i></span>
								<div class="details-info__info">
									<span class="overhead">مشتری</span>
									نتیتا
								</div>
							</li>
							<!-- Category -->
							<li class="details-info__item">
								<span class="box icon-box"><i class="font-icon feathericon-layers"></i></span>
								<div class="details-info__info">
									<span class="overhead">دسته بندی</span>
									طراحی وب
								</div>
							</li>
							<!-- Date -->
							<li class="details-info__item">
								<span class="box icon-box"><i class="font-icon icon-calendar"></i></span>
								<div class="details-info__info">
									<span class="overhead">تاریخ</span>
									27 بهمن 1400
								</div>
							</li>
						</ul>

						<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
					    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد.</p>

						<div class="swiper-container js-carousel-project">
							<div class="swiper-wrapper project-gallery">
								<!-- Item -->
								<figure class="swiper-slide swiper-slide-project">
									<a id="first" title="click to zoom-in" href="assets/images/projects/Moonboard-1.jpg" data-size="1920x1080">
									    <img class="lazyload" src="assets/images/projects/Moonboard-1.jpg" alt="" />
								    </a>
								</figure>
										
								<!-- Item -->
								<figure class="swiper-slide swiper-slide-project">
									<a title="click to zoom-in" href="assets/images/projects/Moonboard-2.jpg" data-size="1920x1080">
									    <img class="lazyload" src="assets/images/projects/Moonboard-2.jpg" alt="" />
									</a>
								</figure>
	
								<!-- Item -->
								<figure class="swiper-slide swiper-slide-project">
									<a title="click to zoom-in" href="assets/images/projects/Moonboard-3.jpg" data-size="1920x1080">
									    <img class="lazyload" src="assets/images/projects/Moonboard-3.jpg" alt="" />
									</a>
								</figure>
	
								<!-- Item -->
								<figure class="swiper-slide swiper-slide-project">
									<a title="click to zoom-in" href="assets/images/projects/Moonboard-4.jpg" data-size="1920x1080">
									    <img class="lazyload" src="assets/images/projects/Moonboard-4.jpg" alt="" />
									</a>
								</figure>
							</div>
							<div class="swiper-pagination"></div>
						</div><!-- /swiper-container -->

					</div><!-- /box-outer -->
		        </div><!-- /Content -->
			</div><!-- /sticky-parent -->
		</div><!-- /container -->
    </main>
    
	<!-- PhotoSwipe -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
	    <div class="pswp__bg"></div>

	    <div class="pswp__scroll-wrap">
	        <div class="pswp__container">
		        <div class="pswp__item"></div>
		        <div class="pswp__item"></div>
		        <div class="pswp__item"></div>
	        </div>

	        <div class="pswp__ui pswp__ui--hidden">
		        <div class="pswp__top-bar">
		            <div class="pswp__counter"></div>
		            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
		            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
		            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

		            <div class="pswp__preloader">
			            <div class="pswp__preloader__icn">
			                <div class="pswp__preloader__cut">
				                <div class="pswp__preloader__donut"></div>
			                </div>
			            </div>
		            </div>
		        </div>
  
		        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
		            <div class="pswp__share-tooltip"></div>
		        </div>
  
		        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
		        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
  
		        <div class="pswp__caption">
		            <div class="pswp__caption__center"></div>
		        </div>
	        </div>
	    </div>
    </div>

    <div class="back-to-top"></div>	

	<!-- JavaScripts -->
	<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.4.1.min.js"></script>
	<script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/common.js"></script>

</body>
</html>